.sidebar-button {
	display: flex;
	flex-direction: column;

	/* height: 10rem; */
}

.first-button-background {
	background-color: #eff6ff;
	padding: 6px;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
}
.button-background {
	background-color: #eff6ff;
	padding: 6px;
}

.last-button-background {
	background-color: #eff6ff;
	padding: 6px;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
